.Side-bar
  .user-name
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to new_group_path, class: "btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas','cog')
  .group-list
  - current_user.groups.each do |group|
    .group
    = link_to '#'do
      .group-name
        = group.name
          
      .group-messege
        まだメッセージがありません

